Repository webschik/tslint-config-security: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "tslint",
    "git add"
  ],
  "./*.js": [
    "prettier --write",
    "git add"
  ]
}

Added formatting task to CI
  .travis.yml
  package.json
Due: none

implemented review suggestions
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
Due: prettier --write, tslint

hit ctrl+s :D
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
Due: prettier --write, tslint

added auth back
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
Due: prettier --write, tslint

updated minor version to 1.6.0
  npm-shrinkwrap.json
  package.json
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
Due: prettier --write, tslint

[bug] fixed checking of the template strings in tsr-detect-non-literal-require rule
  npm-shrinkwrap.json
  package.json
  src/rules/tsrDetectNonLiteralRequireRule.ts
  test/rules/tsr-detect-non-literal-require/default/test.ts.lint
Due: prettier --write, tslint

[tests] added new test case for tsr-detect-non-literal-fs-filename rule
  README.md
  test/rules/tsr-detect-non-literal-fs-filename/default/test.ts.lint
Due: none

[bug] updated Typescript and TSLint versions (closes #7)
  npm-shrinkwrap.json
  package.json
Due: none

[bug] exluded configs for dev. tools from NPM publishing (closes #8)
  .npmignore
  npm-shrinkwrap.json
  package.json
Due: none

excluded configs for dev. tools from NPM publishing (closes #8)
  .npmignore
  npm-shrinkwrap.json
  package.json
Due: none

Update README.md
  README.md
Due: none

[docs] updated README; [deps] added tslid as a peer deependency
  README.md
  index.js
  npm-shrinkwrap.json
  package.json
Due: prettier --write

[feat] added tsr-detect-sql-literal-injection rule
  README.md
  src/is-sql-query.ts
  src/rules/tsrDetectSqlLiteralInjectionRule.ts
  test/rules/tsr-detect-sql-literal-injection/default/test.ts.lint
  test/rules/tsr-detect-sql-literal-injection/default/tslint.json
Due: prettier --write, tslint

[docs] updated README
  README.md
Due: none

[feat] added more conditions to tsr-detect-html-injection rule
  src/rules/tsrDetectHtmlInjectionRule.ts
  test/rules/tsr-detect-html-injection/default/test.ts.lint
Due: prettier --write, tslint

[bug] handle NoSubstitutionTemplateLiteral as StringLiteral
  src/node-kind.ts
  src/rules/tsrDetectChildProcessRule.ts
  src/rules/tsrDetectEvalWithExpressionRule.ts
  src/rules/tsrDetectHtmlInjectionRule.ts
  src/rules/tsrDetectNonLiteralBufferRule.ts
  src/rules/tsrDetectNonLiteralFsFilenameRule.ts
  src/rules/tsrDetectNonLiteralRegexpRule.ts
  src/rules/tsrDetectNonLiteralRequireRule.ts
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
  src/rules/tsrDetectSqlLiteralInjectionRule.ts
  src/rules/tsrDetectUnsafeRegexpRule.ts
  test/rules/tsr-detect-child-process/default/test.ts.lint
  test/rules/tsr-detect-eval-with-expression/default/test.ts.lint
  test/rules/tsr-detect-html-injection/default/test.ts.lint
  test/rules/tsr-detect-non-literal-buffer/default/test.ts.lint
  test/rules/tsr-detect-non-literal-fs-filename/default/test.ts.lint
  test/rules/tsr-detect-non-literal-regexp/default/test.ts.lint
  test/rules/tsr-detect-possible-timing-attacks/default/test.ts.lint
  test/rules/tsr-detect-unsafe-regexp/default/test.ts.lint
Due: prettier --write, tslint

[docs] added a link with code examples for each rule
  README.md
Due: none

[bug] fixed dependecies and peerDependencies list (closes #11)
  npm-shrinkwrap.json
  package.json
Due: none

[bug] added peerDependencies installation on TravisCI (relates to #11)
  .travis.yml
Due: none

[feat] added a detection of Function constructor constructor with non-literal argument, tsr-detect-eval-with-expression rule
  npm-shrinkwrap.json
  package.json
  src/rules/tsrDetectEvalWithExpressionRule.ts
  src/rules/tsrDetectNoCsrfBeforeMethodOverrideRule.ts
  test/rules/tsr-detect-eval-with-expression/default/test.ts.lint
  tsconfig.json
Due: prettier --write, tslint

[feat] added tsr-detect-unsafe-cross-origin-communication rule
  README.md
  index.js
  src/rules/tsrDetectUnsafeCrossOriginCommunicationRule.ts
  test/rules/tsr-detect-unsafe-cross-origin-communication/default/test.ts.lint
  test/rules/tsr-detect-unsafe-cross-origin-communication/default/tslint.json
Due: prettier --write, tslint

[bug] fixed tsr-detect-non-literal-fs-filename rule (#13)
  npm-shrinkwrap.json
  package.json
  src/rules/tsrDetectNonLiteralFsFilenameRule.ts
  test/rules/tsr-detect-non-literal-fs-filename/default/test.ts.lint
Due: prettier --write, tslint

[docs] updated information links
  README.md
Due: none

[feat] added tsr-detect-unsafe-properties-access rule; optimized imports in source files
  README.md
  index.js
  npm-shrinkwrap.json
  package.json
  src/rules/tsrDetectBufferNoassertRule.ts
  src/rules/tsrDetectChildProcessRule.ts
  src/rules/tsrDetectEvalWithExpressionRule.ts
  src/rules/tsrDetectHtmlInjectionRule.ts
  src/rules/tsrDetectNoCsrfBeforeMethodOverrideRule.ts
  src/rules/tsrDetectNonLiteralBufferRule.ts
  src/rules/tsrDetectNonLiteralRegexpRule.ts
  src/rules/tsrDetectNonLiteralRequireRule.ts
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
  src/rules/tsrDetectPseudoRandomBytesRule.ts
  src/rules/tsrDetectSqlLiteralInjectionRule.ts
  src/rules/tsrDetectUnsafePropertiesAccessRule.ts
  src/rules/tsrDetectUnsafeRegexpRule.ts
  src/rules/tsrDisableMustacheEscapeRule.ts
  test/rules/tsr-detect-unsafe-properties-access/default/test.ts.lint
  test/rules/tsr-detect-unsafe-properties-access/default/tslint.json
Due: prettier --write, tslint

[docs] improved README.md file
  README.md
Due: none

[refactor] rebuilt AST walkers to improve performance https://palantir.github.io/tslint/develop/custom-rules/walker-design.html
  npm-shrinkwrap.json
  package.json
  src/rules/tsrDetectBufferNoassertRule.ts
  src/rules/tsrDetectChildProcessRule.ts
  src/rules/tsrDetectEvalWithExpressionRule.ts
  src/rules/tsrDetectHtmlInjectionRule.ts
  src/rules/tsrDetectNoCsrfBeforeMethodOverrideRule.ts
  src/rules/tsrDetectNonLiteralBufferRule.ts
  src/rules/tsrDetectNonLiteralFsFilenameRule.ts
  src/rules/tsrDetectNonLiteralRegexpRule.ts
  src/rules/tsrDetectNonLiteralRequireRule.ts
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
  src/rules/tsrDetectPseudoRandomBytesRule.ts
  src/rules/tsrDetectSqlLiteralInjectionRule.ts
  src/rules/tsrDetectUnsafeCrossOriginCommunicationRule.ts
  src/rules/tsrDetectUnsafePropertiesAccessRule.ts
  src/rules/tsrDetectUnsafeRegexpRule.ts
  src/rules/tsrDisableMustacheEscapeRule.ts
Due: prettier --write, tslint

[feat] added metadata for the each rule (#17)
  README.md
  src/rules/tsrDetectBufferNoassertRule.ts
  src/rules/tsrDetectChildProcessRule.ts
  src/rules/tsrDetectEvalWithExpressionRule.ts
  src/rules/tsrDetectHtmlInjectionRule.ts
  src/rules/tsrDetectNoCsrfBeforeMethodOverrideRule.ts
  src/rules/tsrDetectNonLiteralBufferRule.ts
  src/rules/tsrDetectNonLiteralFsFilenameRule.ts
  src/rules/tsrDetectNonLiteralRegexpRule.ts
  src/rules/tsrDetectNonLiteralRequireRule.ts
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
  src/rules/tsrDetectPseudoRandomBytesRule.ts
  src/rules/tsrDetectSqlLiteralInjectionRule.ts
  src/rules/tsrDetectUnsafeCrossOriginCommunicationRule.ts
  src/rules/tsrDetectUnsafePropertiesAccessRule.ts
  src/rules/tsrDetectUnsafeRegexpRule.ts
  src/rules/tsrDisableMustacheEscapeRule.ts
Due: prettier --write, tslint

upgrade to tslib 2 / tslint 6 / node 14
  npm-shrinkwrap.json
  package.json
  src/rules/tsrDetectHtmlInjectionRule.ts
  src/rules/tsrDetectPossibleTimingAttacksRule.ts
Due: prettier --write, tslint

upgrade typescript
  package.json
Due: none

bump major version due to breaking changes
  package.json
Due: none
